body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

.body {
  background: rgb(204, 249, 131);
  height: 100%;
}

.home {
  width: max;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.homeList {
  position: center;
  left: 200px;
  width: 300px;
  background-color: #bfdee4;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  align-items: center;
}

.homeImage {
  width: 300px;
  height: 100%;
  border: solid rgb(237, 216, 216);
}


.login {
   background: rgb(185, 221, 240);
  height: 700px;
  width: max;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
